.main-body {
  background-color: #f0f0c9;
}

/* Header/Navbar styles */

.header-nav {
  font-size: 25px;
  background-color:  #124e78;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.nav-link {
  color: #f0f0c9;
  text-decoration: none;
}

.nav-link:hover {
  color: gray;
}

.links {
  display: flex;
  flex-direction: row;
  margin-top: 15px; 
}

.dog-logo {
  width: 50px;
  height: 50px;
  
}

@media (max-width: 500px){

}

/* Home styles */

.home-title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Not Found Page styles */

.not-found {
  font-size: 100px;
  font-weight:bolder;
}

/* Dog Index styles */

.dog-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.card-flex {
  margin: 10px;
}

/* Dog Show styles */

.dog-show-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
}

.dog-show-img {
  height: 25%;
  width: 25%;
}

/* Footer styles */

.footer {
  font-size: 15px;
  color:#f0f0c9;
  background-color: #124e78;
  display: flex;
  justify-content: center;
}