/* Home styles */

.main-body {
  background-color:rgb(255, 255, 255);
  height: calc(100vh - 100px);
}

.home-title {
  font-size: 50px;
  font-family: Chalkduster, fantasy;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home-flex {
  padding-top: 80px;
}

/* Header/Navbar styles */

.header-nav {
  font-size: 25px;
  background-color: #124e78;
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 10px;
}

.nav-link {
  color: #f0f0c9;
  text-decoration: none;
}

.nav-link:visited {
  color: #f0f0c9 !important;
}

.nav-link:hover {
  color: rgb(94, 94, 94) !important;
}

.links {
  display: flex;
  flex-direction: row;
  /* margin-top: 15px; */
}

.dog-logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 500px) {
}


/* Not Found Page styles */

.not-found {
  font-size: 100px;
  font-weight: bolder;
  height: calc(100vh - 100px);
}

/* Dog Index styles */

.hover-card:hover {
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow for depth */
}

.dog-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  height: calc(100vh - 100px);

}
.card-flex {
  margin: 10px;
}

.button {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button {
    font-size: 1rem;
    padding: .75rem 2rem;
  }
}

/* Dog New styles */


.form-flex {
  width: 50%;
  margin-left: 10px;
}

.form-flex Input {
  background-color: #f0f0c9;
}

/* Dog Show styles */

.edit-link {
  color: black;
  text-decoration: none;
}

.edit-link:visited {
  color: black;
}

.edit-link:hover {
  color: rgb(94, 94, 94);
}

.dog-show-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 100px);
}

.dog-show-img {
  height: 40%;
  width: 25%;
}

/* Footer styles */

.footer {
  font-size: 15px;
  color: #f0f0c9;
  background-color: #124e78;
  display: flex;
  justify-content: center; 
}