body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header/Navbar styles */

.header-nav {
	font-size: 25px;
	font-family: Chalkduster, fantasy;
	background-color: #5b84b1ff;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.nav-link {
	text-decoration: line-through;
	margin-right: 50px;
}

.nav-link:hover {
	color: gray;
}

.links {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.dog-logo {
	width: 50px;
	height: 50px;
}

@media (max-width: 500px) {
}

/* Home styles */

.home-title {
	/* color: #5b84b1ff; */
	font-size: 50px;
	font-weight: bold;
	font-family: Chalkduster, fantasy;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.home-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Not Found Page styles */

.not-found {
	font-size: 100px;
	font-weight: bolder;
}

/* Dog Index styles */

.dog-index-cards {
	font-family: Chalkduster, fantasy;
	font-size: 20px;
	display: flex;
	flex-flow: row-reverse wrap;
	padding: 10px;
	align-items: center;
	min-height: 100vh;
	flex-direction: row;
	align-content: space-between;
}

.dog-index-cards:after {
	content: "";
	flex-grow: 1;
}

.card-flex {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 18rem;
}

.card-title {
	margin-bottom: var(--bs-card-title-spacer-y);
	font-size: 50px;
	color: var(--bs-card-title-color);
}

.hover-card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button {
	transition: all 0.5s ease;
	color: #fff;
	border: 3px solid white;
	font-family: Chalkduster, fantasy;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	font-size: 17px;
	background-color: transparent;
	padding: 10px;
	outline: none;
	border-radius: 4px;
}
button:hover {
	color: #001f3f;
	background-color: #fff;
}

/* Dog Show styles */

.dog-show-cards {
	font-family: Chalkduster, fantasy;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	height: 100vh;
}

.dog-show-img {
	height: 25%;
	width: 25%;
}

.nav-link-edit-button {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	align-items: flex-end;
	text-decoration: none;
}

.edit-button {
	color: #fff;
	background-color: #007bff;
}

.edit-button:hover {
	background-color: #0056b3;
}

/* Dog New styles */

.form {
	font-family: Chalkduster, fantasy;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	height: 100vh;
}

/* Footer styles */

.footer {
	font-size: 15px;
	color: #f0f0c9;
	background-color: #124e78;
	display: flex;
	justify-content: center;
}
